* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f6ff;
  background-image: url(./images/image.png);
}

.todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

#task-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#add-task-btn {
  padding: 8px;
  background-color: #10375c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-task-btn:hover {
  background-color: #eb8317;
}

#task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  background-color: #ff6500;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d35400;
}
